NEXT_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
NEXT_PUBLIC_APP_BASE_URL=https://www.oweable.com


# Server-only secrets
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_PASSWORD=
